
.icon-mail:before { content: '\e800'; } /* '' */
.icon-qrcode:before { content: '\e801'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */